body {
	font-family:sans-serif;
	width:1000px;
	margin:0 auto;
	padding:10px;
	background:url('supersonics.jpg') no-repeat center center fixed;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.error {
	 color:red;
}

label {
	display:block;
	font-size:20px;
}

textarea {
	width:1000px;
	height:200px;
	font-size:17px;
	font-family:monospace;
}

hr {
	margin:30px auto;
	border: 3px dashed #606060;
}


.title {
	display:block;
	color:black;
	font-weight:bold;
	font-size:55px;
	text-align:center;
	text-decoration:none;
	font-family:Impact,Charcoal,sans-serif;
	letter-spacing:4px;
}

pre.fakeDiv {
	display:inline;
	color:#3399CC;
}
.mission {
	font-family:Verdana,sans-serif;
	font-size:30px;
	display:block;
	color:gray;
	font-weight:bold;
	text-align:center;
	background-color:#FFFFFF;
	opacity:0.9;
}
.post-subject {
	font-weight:bold;
	font-size:30px;
	color:black;
	text-decoration:none;
}

.post-content {
	margin:0px;
	font-size:16px;
}

.post {
	background-color:#FFFFFF;
	opacity:0.9;
}

input[type=text] {
	width: 1000px;
	font-size: 20px;
	padding: 2px;
}

input[type=submit] {
	font-size: 24px;
}

.newpost {
	float:right;
	display:block;
	font-weight:bold;
	text-decoration:none;
	color:red;
	font-size:30px;
}
  
.post + .post {
	margin-top: 20px;
}

pre {
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
	white-space: pre-wrap;
	overflow-x: auto;
	color:black;
}