<!DOCTYPE html>
<html>
    <head>
        <title>Bloggin' It</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/blogstyles.css"/>
    </head>
    
    <body>
      <form method="post">
      {% if backPage > 0: %}
      	<a href="/blog" class="homebutton">&lt;-- home page</a>
      {% endif %}
        <a href="/blog" class="title">Sam's Blog</a>
        {% if button == "login": %}
        <span style="position:relative;"><a class="login" href="/login">Login</a>
    	<span style="position:absolute; left:600px;"><a class="login" href="/signup">Register</a></span></span>
        {% elif button == "logout": %}
        <span><a class="login" href="/logout">Logout</a></span>
        {% endif %}
        <br>
        <span style="float:right"><a class="newpost" href="/newpost">New Post</a></span>
        <br>
        <br>
        <div class="mission">On being a <pre class="fakeDiv">&lt;div&gt;programmer&lt;/div&gt;</pre>, this strange place called
        					California, and post-college life</div>
        <br>
        <hr>
        {% for post in posts %}
        	<div class="post">
        		<a class="post-subject" href="/blog/{{post.key().id()}}">{{post.subject}}</a>
        		<span class="post-date">{{post.created}} (UTC)</span><br><br>
        		<pre class="post-content">{{post.content}}</pre>
        	</div>
        	<hr>
        {% endfor %}
        
        {% if backPage > 0: %}
        	<a href=/blog/page{{backPage}} class="title">just go BACK</a>
        {% endif %}
        
        {% if nextPage != 0: %}
        	<a href=/blog/page{{nextPage}} class="title">next page PLEASE</a>
        {% endif %}
      </form>
    </body>
</html>
