<!DOCTYPE html>
<html>
    <head>
        <title>Sam's Webapps</title>
    </head>
    <body>
        <h1>Welcome to Sam's WebApps!</h1>
        <div><a href="/unit2/rot13">See a ROT13 webapp</a></div>
        <div><a href="/unit2/signup">Try out a fake webpage signup sheet</a></div>
        <div><a href="/unit3/ascii">Submit some ASCII art</a></div>
        <div><a href="/blog">Check out my awesome blog</a></div>
        <div><a href="/cookies">Testing out some cookies, watch it count your visits</a></div>
        
        <p>That's all, folks!</p>
        
    </body>
</html>
