<html>
    <head>
        <title>Bloggin' It</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/blogstyles.css"/>
    </head>
    
    <body>
      <form method="post">
      	<a href="/blog" class="homebutton">&lt;-- home page</a>
      	<a href="/blog" class="title">Sam's Blog</a>
        <h2>New Post</h2>
        <label>
        	<div>subject</div>
        	<input class="subject" type="text" name="subject" value="{{subject}}">
        </label>
                	
        <label>
        	<div>post</div>
        	<textarea name="content">{{content}}</textarea>
        </label>
        
        <div class="error">{{error}}</div>
        
        <input class="button" type="submit">
        
        <hr>
      </form>
    </body>
</html>
