<html>
    <head>
        <title>Bloggin' It</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/blogstyles.css"/>
    </head>
    
    <body>
      <form method="post">
      	<a href="/blog" class="title">Sam's Blog</a>
      	<hr>
      	
	    <div class="post">
          <span class="post-subject">{{post.subject}}</span>
          <span class="post-date">{{post.created}} (UTC)</span>
          <pre class="post-content">{{post.content}}</pre>
        </div>
        <hr>
      </form>
    </body>
</html>
